select.sites {
    width: 50%;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #0c0c0d;
    border-radius: 4px;
    background-color: #f9f9fa;
    resize: none;
}

p.warning {
    font-weight: bold;
}

hr.light {
    width: 100%;
    border-width: 1px;
    border-color: #c0c0d0;
}

hr.heavy {
    width: 100%;
    border-width: 1px;
    border-color: #0c0c0d;
}

/* Below code modified from
/ https://codepen.io/steelwater/pen/BjeZQx
*/

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #e31847;
  color: #ffffff;
}
