html, body {
  width: 300px;
}

.choice {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.choice:hover {
  background-color: #CFF2F2;
}

.status {
  width: 100%;
  padding: 4px;
  font-size: 0.8em;
  text-align: center;
  text-style: italic;
}
